.app {
  .leftSide {
    height: 100%;
    position: relative;
    flex: 1;
    overflow: hidden;
    background:
      radial-gradient(circle at top left, #5b5cff33, transparent 40%),
      radial-gradient(circle at bottom right, #3b82f633, transparent 50%),
      #141832;
    .blobBottom {
      position: absolute;
      right: -150px;
      bottom: 0;
      filter: blur(5px);
      transform: rotate(-90deg) scale(1.5);
    }
    .blobTop {
      position: absolute;
      left: -150px;
      top: 0;
      filter: blur(5px);
      transform: rotate(-90deg) scale(1.75);
    }
    .blobBottom::before {
      content: '';
      position: absolute;
      width: 10%;
      height: 10%;
      top: 50%;
      left: 50%;
      transform: translate(-60%, -200%);
      border-radius: 50%;
      background-color: #4d1e7e;
      box-shadow: 0 15px 30px 30px #4d1e7e;
    }
    .banner {
      position: absolute;
      left: 15px;
      top: 15px;
      display: flex;
      align-items: center;
      .bannerText {
        color: #fbfbfc;
        font-size: clamp(1rem, 1.5vw, 2rem);
        font-weight: 600;
        letter-spacing: 2px;
        cursor: default;
        transform: translateX(-5px);
      }
    }
    main {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 70%;
    }
  }
}
